<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary justify-content-between" style="font-size:90%;" th:fragment="navbar(activeTab)">
    <div class="navbar-brand mr-auto" style="vertical-align: middle;display:inline-block;">
        <h1 class="font-weight-bold m-0" style="text-align: center;font-size:200%" th:text="${@siteSettings.title}">LIST-SI</h1>
        <h5 th:text="${@siteSettings.subtitle}">Species Independent</h5>
    </div>
    <div class="brand mr-3 mt-3 ubc-brand" style="vertical-align: middle;display:inline-block;">
        <h4 class="font-weight-bold m-0 text-center" style="font-size:1.4rem;">Michael Smith Laboratories</h4>
        <p class="text-uppercase text-center"><b>University of British Columbia</b></p>
    </div>
    <a class="navbar-brand mr-0" href="https://www.ubc.ca/">
        <img th:src="@{/img/UBC-logo-signature-blue.gif}" style="height: 75px;" class="pr-2">
    </a>

</nav>
</body>
</html>
