html {
    position: relative;
    min-height: 100%;
    font-size: 15px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 55px;
}

nav.navbar {
    -webkit-box-shadow: 0 4px 0px 0px #999;
    -moz-box-shadow: 0 4px 0px 0px #999;
    box-shadow: 0 4px 0px 0px #999;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    line-height: 25px;
    background-color: #d8d6d6;
    -webkit-box-shadow: 0 -4px 0px 0px #999;
    -moz-box-shadow: 0 -4px 0px 0px #999;
    box-shadow: 0 -4px 0px 0px #999;
    padding:15px;
}

footer .website-attribution {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 15px;
}

@media screen and (max-width: 1300px) {

    body {
        /* Margin bottom by footer height */
        margin-bottom: 80px;
    }

    .footer {
        height: 80px;
    }

    .footer .website-attribution {
        display: block;
        position: unset;
        right: unset;
    }
}

.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}

.result-card {
    /*max-width:600px;*/
}

div.container {
    overflow-x: hidden;
}
