<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${@siteSettings.title}">List-SI</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/queue.js}"></script>
    <script th:inline="javascript">

        $(document).ready(function () {
            $("#fastaExampleBtn").click(function(e) {
                $("#fasta").val(
                    ">P07766 OX=9606\r\n" +
                    "MQSGTHWRVLGLCLLSVGVWGQDGNEEMGGITQTPYKVSISGTTVILTCPQYPGSEILWQHNDKNIGGDEDDKNIGSDEDHLSLKEFSELEQSGYYVCYPRGSKPEDANFYLYLRARVCENCMEMDVMSVATIVIVDICITGGLLLLVYYWSKNRKAKAKPVTRGAGAGGRQRGQNKERPPPVPNPDYEPIRKGQRDLYSGLNQRRI\r\n" +
                    ">Q764N2|CD3D_PIG\r\n" +
                    "MEHSRFLSGLILAAFLSRVSPYEVEMEELEDKVFVSCNTSIIWLQGTEGELLSDKKIDLGKRILDPRGLYKCNAPKEQDSNSKIFLQVYYRMCQNCVELDSATLAGIIVTDIIATLLLALGVYCFAGHEMGRFSRAADTQDLLRNDQLYQPLRDRNDGQYSRLGENWARNK"
                )
            });
            $('.toast').toast('show');
        });

    </script>

</head>
<body>
<div th:replace="fragments/navbar :: navbar(home)">...</div>
<div class="container-fluid p-4">

    <div style="position: absolute; top: 100px; right: 25px;min-width: 200px;z-index: 1;opacity: 0.8;">

        <div th:each="message: ${messages}" class="toast fade hide"
             th:classappend="${message.level.name() == 'INFO' ? 'bg-success' :
             (message.level.name() == 'WARNING' ? 'bg-warning' : 'bg-danger')}" data-autohide="true" data-delay="5000">
            <div class="toast-header" style="border-bottom: none; justify-content: space-between;">
                <div class="toast-body mr-3" style="overflow-x: auto; overflow-y: hidden;" th:text="${message.message}"></div>
                <button type="button" class="close" style="align-self: flex-start;" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>

    <div class="main-content p-4" >

        <p><b>LIST-SI</b> predicts the deleteriousness of amino acid mutations in human protein sequences based on Taxonomy distances.</p>

        <div class="p-2">
            <form method="POST" enctype="multipart/form-data" action="/">
                <!--<div class="form-group">-->
                    <!--<label for="fastaFile">FASTA file</label>-->
                    <!--<input type="file" class="form-control-file" id="fastaFile" name="fastaFile" aria-describedby="fastaFileHelp" required>-->
                    <!--<small id="fastaFileHelp" class="form-text text-muted">Sequence file in the FASTA format labeled with matching chain ID.</small>-->
                <!--</div>-->
                <div class="form-row">
                    <div class="form-group col-lg-8 col-12">
                        <label for="fasta">Enter protein sequences with identifier headers in FASTA format. <a id="fastaExampleBtn" href="#">See examples</a>.</label>
                        <div class="search-wrapper">
                            <textarea rows="6" class="form-control search-box" style="resize:vertical;" id="fasta" name="fasta" aria-describedby="fastaHelp" required=""></textarea>
                            <button class="close-icon" type="reset"></button>
                        </div>
                    </div><div class="form-group align-self-end col-lg-4 col-12">
                    <small id="fastaHelp" class="form-text text-muted">Optional OX=n can be included in the FASTA header to explicitly identify the sequence Taxa ID as n. Otherwise, the Taxa ID of the sequence with the highest alignment (Bits) score will be used as the query Taxa ID. Taxa IDs can be obtained from <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/TaxIdentifier/tax_identifier.cgi" target="_blank" rel="noopener noreferrer">NCBI Taxonomy name/id</a>.
                        <br>
                        Precomputed predictions of virtually all human protein sequences identified by their UniProt accession and Ensemble transcriptome id can be found <a href="https://d9606.list-si.msl.ubc.ca/" target="_blank" rel="noopener noreferrer">here</a>.
                    </small>
                </div></div>
                <div class="form-row">
                    <div class="form-group align-self-end order-3 offset-lg-1 col-lg-2 order-lg-1" style="text-align: center;">
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </div>
                    <div class="form-group col-8 offset-lg-1 col-lg-4 order-lg-2" th:if="${!@applicationSettings.isDisableEmails()}">
                        <label for="email">(Optional) Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group align-self-end col-4 col-lg-4 order-lg-3" th:if="${!@applicationSettings.isDisableEmails()}">
                        <small id="emailHelp" class="form-text text-muted">Only used to notify you when your job finishes. It won't be saved.</small>
                    </div>
                </div>
            </form>


        </div>

        <hr/>

        <div id="job-table">
            <div th:replace="fragments/job-table :: job-table(joblist=${jobs})"
                 th:remove="tag">...
            </div>
        </div>

    </div>




</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
