<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List 2.0</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/queue.js}"></script>
    <script th:inline="javascript">

        $(document).ready(function () {
            $("#fastaExampleBtn").click(function(e) {
                $("#fasta").val(
                    ">Example_P07766\r\n" +
                    "MQSGTHWRVLGLCLLSVGVWGQDGNEEMGGITQTPYKVSISGTTVILTCPQYPGSEILWQHNDKNIGGDEDDKNIGSDEDHLSLKEFSELEQSGYYVCYPRGSKPEDANFYLYLRARVCENCMEMDVMSVATIVIVDICITGGLLLLVYYWSKNRKAKAKPVTRGAGAGGRQRGQNKERPPPVPNPDYEPIRKGQRDLYSGLNQRRI\r\n" +
                    ">Example_A0A075B6I1\r\n" +
                    "MAWTPLLLLFPLLLHCTGSLSQPVLTQSSSASASLGSSVKLTCTLSSGHSSYIIAWHQQQPGKAPRYLMKLEGSGSYNKGSGVPDRFSGSSSGADRYLTISNLQFEDEADYYCETWDSNT"
                )
            });

        });

    </script>

</head>
<body>
<div th:replace="fragments/navbar">...</div>
<div class="container p-4">

    <div class="main-content p-4" >

        <p><b>List 2.0</b> predicts the deleteriousness of amino acid mutations in human protein sequences based on Taxonomy distances.</p>

        <div th:replace="fragments/title :: title(title='Submit Job(s)')" th:remove="tag">...</div>

        <div class="p-4" style="max-width: 1100px;">
            <form method="POST" enctype="multipart/form-data" action="/">
                <!--<div class="form-group">-->
                    <!--<label for="fastaFile">FASTA file</label>-->
                    <!--<input type="file" class="form-control-file" id="fastaFile" name="fastaFile" aria-describedby="fastaFileHelp" required>-->
                    <!--<small id="fastaFileHelp" class="form-text text-muted">Sequence file in the FASTA format labeled with matching chain ID.</small>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="fasta">Enter protein sequences in FASTA format</label>
                    <div class="search-wrapper">
                        <textarea rows="6" class="form-control search-box" style="resize:both;" id="fasta" name="fasta" aria-describedby="fastaHelp" required></textarea>
                        <button class="close-icon" type="reset"></button>
                    </div>
                    <small id="fastaHelp" class="form-text text-muted">Sequences with identifier headers in FASTA format. <a id="fastaExampleBtn" href="#">See example</a>.</small>
                </div>
                <div class="form-group" th:if="${!@applicationSettings.isDisableEmails()}">
                    <label for="email">(Optional) Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Only used to notify you when your job finishes. We'll never share your email with anyone.</small>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg btn-primary" style="padding: 0.6rem 1rem;">Submit</button>
                    <div th:if="${submitMessage}" class="ml-4 mb-0 alert d-inline-block" th:classappend="alert-success" role="alert">
                        <span th:utext="${submitMessage}" th:remove="tag"/>
                    </div>
                    <div th:if="${warnMessage}" class="ml-4 mb-0 alert d-inline-block" th:classappend="alert-warning" role="alert">
                        <span th:utext="${warnMessage}" th:remove="tag"/>
                    </div>
                    <div th:if="${errorMessage}" class="ml-4 mb-0 alert d-inline-block" th:classappend="alert-danger" role="alert">
                        <span th:utext="${errorMessage}" th:remove="tag"/>
                    </div>
                </div>
            </form>


        </div>

        <hr/>

        <div id="job-table">
            <div th:replace="fragments/job-table :: job-table(joblist=${jobs})"
                 th:remove="tag">...
            </div>
        </div>

        <hr/>

        <div class="p-4">
            <p><i>Website developed by <a href="https://jacobsonmt.com" target="_blank">Matthew Jacobson</a></i></p>
        </div>
    </div>




</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
